:root {
    --primary: #7c4dff;
    --dark: #25282c;
    --card-content: #2c2d30;
    --secondary: #1C1E21;
    --putih: #ECF0F3;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .social-links a {
        margin: 0 10px 10px 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }
}

/* Gaya untuk layar berukuran besar (misalnya desktop) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 80%;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary);
}

nav {
    background-color: var(--dark);
}

.btn-login {
    background-color: var(--primary);

}

/* nav a::hover {
    background-color: ;
} */

.container-index {
    padding: 0rem 3rem 0rem 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.card {
    background-color: var(--card-content);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--putih);
}

.card-body {
    padding: 2rem;
}

.form-label,
.form-control {
    background-color: var(--dark);
    color: var(--putih);
}

.form-control:focus {
    background-color: var(--dark);
    color: var(--putih);
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2rem rgba(124, 77, 255, 0.25);
}

.form-control-file {
    border: none;
    outline: none;
    margin-bottom: 40px;
}

.form-control-file::-webkit-file-upload-button {
    padding: 5px;
    border-radius: 7px;
}

.form-control-file::file-selector-button {
    padding: 5px;
}

textarea {
    background-color: var(--dark);
    color: var(--putih);
}

.btn-form {
    background-color: var(--primary);
    color: var(--putih);
}

.btn-form:hover {
    background-color: darken(var(--primary), 10%);
}


hr {
    width: 60px;
    background-color: var(--primary);
    height: 2px;
}
