* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .social-links a {
        margin: 0 10px 10px 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }
}

/* Gaya untuk layar berukuran besar (misalnya desktop) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 80%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.text-center a {
    color: #000;
    text-decoration: none;
}

.text-center a:hover {
    color: #007bff;
}

hr {
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
}
