:root {
    --primary: #7c4dff;
    --primary-hover: #A079FF;
    --dark: #25282c;
    --card-content: #2c2d30;
    --secondary: #1C1E21;
    --putih: #ECF0F3;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary);
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    .social-links {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .social-links a {
        margin: 0 10px 10px 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 90%;
    }
}

/* Gaya untuk layar berukuran besar (misalnya desktop) */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 80%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    background-color: var(--card-content);
    width: 400px;
    border: none;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: var(--primary);
    border-radius: 14px;
}

.card-body {
    color: var(--putih);
    padding: 2rem;
}

.btn-custom {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--putih);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--putih);
}

.text-regis a {
    color: var(--putih);
    text-decoration: none;
}

.text-regis a:hover {
    color: #007bff;
}
